.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.modal-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
    margin: 10px 0px;
    cursor: pointer;
    width: 90%;
    background-color: #fff;
    border: 1px solid #abab;
    height: 35px;
    border-radius: 3px
}

.close-btn-container {
    display: flex;
    justify-content: center;
    align-items: center
}