.btn-box {
    width: 45%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    cursor: pointer
}

.btn-txt {
    text-transform: uppercase;
    font-size: medium;
    color: #fff
}